    <footer class="footer-dark bg-dark py-2 mt-auto">
        <div class="container-fluid text-right">
            <p class="text-muted">&copy 2021 KAREN FOKKE</p>
        </div>
    </footer>
</body>

</html>