<%- include('../partials/head') %>
    <title>Available Books</title>
</head>

<body class="d-flex flex-column vh-100">
    <header>
        <%- include('../partials/navbar') %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/availablebooks') %>
            </div>
        </div>
    </main>

<%- include('../partials/footer') %>