<%- include('../partials/head') %>
<title>Edit Details</title>
</head>

<body class="d-flex flex-column vh-100">
    <header>
        <%- include('../partials/navbar') %>
    </header>

    <main class="container-fluid">
        <%- include('../partials/formedit') %>
    </main>

<%- include('../partials/footer') %>