<%- include('../partials/head') %>
    <title>Add a new book</title>
</head>

<body class="d-flex flex-column vh-100">
    <header>
        <%- include('../partials/navbar') %>
    </header>

    <main class="container-fluid">
    <%- include('../partials/formnew') %>
    </main>

<%- include('../partials/footer') %>